body{
    background-color:black;
    margin:0;
    margin-left:8px;
}

#headst{
    border:4px solid blue;
    
    
}

nav a {
    text-decoration: none;
    
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
   
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
    
}

.top-menu li.active {
    background: purple;
    color: #fff;
}

.top-menu a {
    color: orange;
}

.h1st{
    padding:0;
    color:purple;
    margin-left:2%;
    margin-top:0;
    margin-bottom:20px;
    

}
#h1s{
    color:orange;
}

h3{
    color:green;
}
h4{
    color:blue;
}

a{
    color:blue;
    text-decoration:none;
}

.articlest{
    color:green;
    
    margin-right:30%;
    padding:0;
    float:right;
    
}

.asidest{
    padding:0;
    position:absolute;
}



.myButton {

	background-color:purple;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {

	background-color:orange;
}
.myButton:active {
	position:relative;
	top:1px;
}
